/*Body*/
body {
  font-family: Arial, sans-serif;
  background: #f0f2f5;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Container Principal*/
.container {
  background: white;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}
/*Titulo*/
h1 {
  text-align: center;
  margin-bottom: 20px;
}

/*Input e Botão de Adicionar*/
.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.edit-input {
  flex: 1;
  padding: 5px;
  font-size: 16px;
}


#todo-input {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#todo-input::placeholder {
  color: #aaa;
  font-style: italic;
}

#add-btn {
  width: 25%;
  padding: 10px;
  margin-left: 5%;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#add-btn:hover {
  background-color: #2980b9;
}

/*Lista de Tarefas*/
ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: #eee;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.done {
  text-decoration: line-through;
  color: gray;
  opacity: 0.7;
}

/*Botão Delete*/
button.delete {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}

button.delete:hover {
  background-color: #c0392b;
}

/*Filtros*/
.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.filter-btn {
  flex: 1;
  padding: 8px;
  margin: 0 5px;
  border: none;
  background: #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}

.filter-btn.active {
  background: #3498db;
  color: white;
}

/*Botão Limpar Tudo*/

#clear-all-btn {
  width: 100%;
  padding: 10px;
  background-color: #e74c3c; /* vermelho forte */
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-bottom: 20px;
}

#clear-all-btn:hover {
  background-color: #c0392b; /* vermelho mais escuro ao passar o rato */
}

/*Tema - Toggle*/

#toggle-theme{
    float: right;
    background-color: #333;
    color: #f0f0f0;
    border-radius: 20px;
    margin-bottom: 10px;
}

/*Dark Mode*/
body.dark {
  color: #1e1e1e; /* ou a cor que preferires */
}

.dark .container{
    background-color: #333;
    border: none;
    color: wheat;
}

body.dark #todo-list li {
   color: #f5f5f5;
   background-color: #2c2c2c;
}

.dark li.done {
  color: #888;
}

.dark button {
  background-color: #444;
  color: #fff;
  border: none;
}

.dark button:hover {
  background-color: #555;
}

.dark #clear-all-btn {
  background-color: #e74c3c;
  color: white;
}

.dark #clear-all-btn:hover {
  background-color: #c0392b;
}

.dark #add-btn {
  background-color: #3498db;
  color: white;
}

.dark #add-btn:hover {
  background-color: #2980b9;
}

.dark #toggle-theme{
    float: right;
    background-color: #f0f0f0;
    color: #1e1e1e;
    border-radius: 20px;
    margin-bottom: 10px;
}












